NODE1_IP=192.168.1.11
NODE1_NAME=NODE1
NODE1_CLUSTER_ETH=eth0:1

NODE2_IP=192.168.1.12
NODE2_NAME=NODE1
NODE2_CLUSTER_ETH=eth0:1

CLUSTER_IP=192.168.1.10
CLUSTER_NETMASK=255.255.255.0

ARP_BROADCAST_TO=192.168.1.1

COMMAND_CHECK_BEFORE_TAKEOVER='/usr/local/check_before_takeover'
COMMAND_TO_TAKE_DOWN='/usr/local/do_before_take_down'
COMMAND_TO_BRING_UP='/usr/local/do_after_bring_up'

